repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        entry: ruff check --fix
        language: system
        types: [python]

      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types: [python]

      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]

      - id: pytest
        name: pytest
        entry: pytest
        language: system
        pass_filenames: false
